* {
  margin: 0;
  font-family: "Golos";
  box-sizing: border-box;
}
.firstslide {
  width: 100%;
  min-height: 750px;
  background-image: url("./../img/background.jpg");
}
.header {
  padding: 44px 52px 44px 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 110px;
}
.logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
.navigation {
  display: flex;
  gap: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.navigation-a {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
  color: #ffffff;
}
.description {
  display: flex;
  flex-direction: column;
  padding: 160px 0 206px 139px;
}
.description-p1 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;

  letter-spacing: 0.06em;

  color: #ffffff;

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.description-h {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 113%;

  color: #ffffff;
}
.description-p2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 113%;

  color: #ffffff;

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.description-button {
  width: 253.33px;
  height: 64px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  margin: 46px 0;

  background: #25252c;
  box-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 55px;
}
.description-button-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 113%;

  color: #ffffff;
}
.main {
  scroll-margin-block: 0;
  display: flex;

  background: linear-gradient(0deg, #1e262f, #1e262f), #181c1d;
}

.main-ecodom-p {
  margin: 370px 37px 370px 83px;

  font-weight: 600;
  font-size: 14px;
  line-height: 130%;

  letter-spacing: 0.06em;

  color: rgba(255, 255, 255, 0.1);

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  transform: rotate(-90deg);
}
.horizintal-line {
  background: rgba(255, 255, 255, 0.1);
}
.info-ecodom {
  padding: 342px 122px 343px 67px;
}
.info-ecodom-p1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 113%;

  letter-spacing: -0.02em;

  color: #ffffff;
}

.info-ecodom-p2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 113%;

  letter-spacing: -0.02em;

  color: #ffffff;

  opacity: 0.25;
}
.info-ecodom-p3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 113%;

  letter-spacing: -0.02em;

  color: #ffffff;

  opacity: 0.25;
}
.info-photo-ecodom {
  display: flex;
  padding: 174px 172px 44px 36px;
  gap: 60px;
}
.name-ecodom {
  font-family: "Oranienbaum";

  font-weight: 400;
  font-size: 56px;
  line-height: 113%;

  color: rgba(255, 255, 255, 0.8);

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.video-ecodom {
  border-radius: 12px;
}
.text-info {
  margin: 10px 174px 298px 260px;
}
.text-info-ecodom1 {
  margin-top: 16px;
  font-family: "Inter";

  font-weight: 300;
  font-size: 16px;
  line-height: 114%;

  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.8);

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.scheme {
  display: flex;
  background: #fafafa;
}
.schame-info {
  display: flex;
  flex-direction: column;
  margin: 272px 0px 271px 161px;
}
.schame-info-p1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 98.5%;

  color: #1f252d;
}
.schame-info-p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;

  color: #1f252d;

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.schame-img {
  margin: 187px 165px 196px 0px;
  mix-blend-mode: multiply;
}

.answers {
  background: #fafafa;
}
.answers-logo {
  margin-top: 50px;
  font-weight: 600;
  font-size: 32px;
  line-height: 98.5%;

  text-align: center;

  color: #1f252d;
}
.answers-info {
  display: flex;
}
.answers-info-text {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 75px 0 48px 159px;
}
.answers-info-text-align {
  display: flex;
}
.answers-info-text-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 114%;

  letter-spacing: -0.02em;

  color: #1f252d;

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.answers-info-img {
  display: flex;
  justify-content: end;
  align-items: end;
}

.project {
}
.project-text-p {
  font-weight: 600;
  font-size: 32px;
  line-height: 98.5%;

  margin: 44px 0 44px 0;

  text-align: center;

  color: #1f252d;
}
.project-cards {
  justify-content: center;
  display: flex;
}
.project-dom {
  margin: 20px;
}
.photo-house {
  border-radius: 12px;
}
.project-dom-info {
  display: flex;
  flex-wrap: wrap;
}
.project-dom-info-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.project-dom-info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}
.buy {
  display: flex;
  flex-direction: column;
  margin: 47px 0 24px 18px;
  gap: 5px;
}
.project-dom-buy {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.project-dom-buy-money {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.project-button {
  display: flex;
  justify-content: center;
  margin: 44px 0 61px 0;
}
.project-button-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 24px 48px;
  gap: 10px;
  color: #fafafa;

  background: #25252c;
  box-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 55px;
}
.structure {
}
.structure-choice {
  display: flex;
  justify-content: center;
  gap: 64px;
}
.structure-choice-img1 {
  background: #25252c;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(2, 2, 2, 0.25);
  border-radius: 55px;
  box-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1),
    inset 0px 4px 28px rgba(0, 0, 0, 0.1);
}
.structure-choice-img2 {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(2, 2, 2, 0.25);
  filter: drop-shadow(-6px 62px 25px rgba(0, 0, 0, 0.01))
    drop-shadow(-3px 35px 21px rgba(0, 0, 0, 0.05))
    drop-shadow(-1px 16px 16px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  border-radius: 55px;
}
.structure-choice-img3 {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(2, 2, 2, 0.25);
  filter: drop-shadow(-6px 62px 25px rgba(0, 0, 0, 0.01))
    drop-shadow(-3px 35px 21px rgba(0, 0, 0, 0.05))
    drop-shadow(-1px 16px 16px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  border-radius: 55px;
}
.structure-info {
  display: flex;
}
.structure-info-text {
  margin: 107px 0 0 198px;
}
.structure-info-text-logo {
  font-weight: 400;
  font-size: 56px;
  line-height: 95%;
  /* or 53px */

  color: #020202;

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.structure-info-text-logo-smart {
  font-weight: 300;
  font-size: 42px;
  line-height: 113%;

  margin-bottom: 21px;

  letter-spacing: -0.04em;
}
.structure-info-text-p {
  font-weight: 300;
  font-size: 16px;
  line-height: 114%;

  margin-top: 8px;

  letter-spacing: -0.02em;

  color: rgba(2, 2, 2, 0.8);

  text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.structure-img {
  margin: 98px 198px 64px 40px;
}
.structure-img-info {
  border-radius: 24px;
}
.footer {
  background: #1e242c;
  color: #ffffff;
}
.footer-1 {
  display: flex;
  justify-content: center;
}
.footer-1-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
